.header {
    background: $off-black;
    color: white;
    height: 15rem;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}

.header__title {
    font-size: 3rem;
    margin: 2rem auto;
    padding: auto 10rem;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    padding-left: 28%;
}

